body {
	font-size: 14px;
	line-height: 18px;
	font-family: "Open Sans", Arial, sans-serif;
	color: #000;
	font-style: normal;
	font-weight: normal;
	background-color: #ffffff;
	margin-right: -1px;
	margin-left: -1px;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: white;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.btn {
	display: inline-block;
	padding: 20px 70px;
	height: 16px;
	font-weight: 12px;
	line-height: 13px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	text-shadow: none;
	background-color: #1d91e1;
	border-radius: 25px;

	&:hover {
		box-shadow: 0 0 15px 10px #07446f,
					0 0 20px 12px white;
	}

	input[type="text"] {
		background-color: #f2f2f2;

		&:hover {
			background-color: #e5e5e5;
		}

		&:active {
			background-color: #fff;
			border: 4px #e5e5e5 solid;	
		}
	}
}

.btn-social {
	
	&:hover {
		box-shadow: 2px 2px 12px 8px  rgba(255, 0,67,0.16);
	}
}

.container {
	padding: 0 110px;
	margin: 0 auto;
	box-sizing: padding-box;
}

p {
	font-family: "Open Sans";
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
}

span {
	font-family: "Source Sans Pro";
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    line-height: 32px;
}

h3 {
	font-family: "Lora";
    font-weight: bold;
    font-style: normal;
    font-size: 40px;
    line-height: 44px;
}