.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: white;
	padding: 0 110px;

	p {
		color: #bb9d9e;
		align-item: center;
	}

	ul {
		display: flex;
		flex-direction: row;
		list-style-type: none;

		li {
			margin-left: 12px;

			&:hover {
				opacity: 0.6;
			}
		}
	}
}